<link rel="stylesheet" href="{{ url_for('static', filename='/css/works.module.css')}}">
<main class="section" style="background-color: white;">
    <section>
        <h3 class="section-heading">About</h3>
        <p style="max-width: 800px; margin: 20px 0;font-size: 18px; font-weight: 400;">Hi, I'm
            Gaurav, a
            passionate and dedicated
            professional with
            a keen interest in technology and innovation. My journey in the tech world has been driven by a desire to
            solve complex problems and build meaningful applications..</p>

        <p style="max-width: 800px; margin: 20px 0;font-size: 18px;font-weight: 400">I have experience in web
            development,
            data science,
            and machine
            learning. I am proficient in various
            programming languages and frameworks, and I am always eager to learn new technologies. This portfolio is a
            showcase of my work and my dedication to the craft.

        </p>
        <p style="max-width: 800px; margin: 20px 0;font-size: 18px;font-weight: 400;">When I'm not coding, I enjoy
            reading,
            hiking, and
            exploring new
            places. I believe in continuous learning and
            am always looking for new challenges to grow my skills.</p>
        <p style="margin: 25px 0;">connect with me on, <i class="fab fa-linkedin" style="font-size: 20px;"></i></p>
        <h5 style="font-weight: 600;font-size: 18px;">My expertise include,</h5>
        <section class="chips">
            <p class="chip">
                HTML
            </p>
            <p class="chip">
                CSS
            </p>
            <p class="chip">
                JavaScript
            </p>
        </section>

    </section>
</main>