<link rel="stylesheet" href="{{ url_for('static', filename='/css/hero.module.css')}}">
<header class="hero">
    <section>
        <h5 class="hero-sub-heading">
            Hello, I'm
        </h5>
        <h1 class="hero-heading">Gaurav Nagalapuram Venkataramanan</h1>
        <h3 class="hero-sub-heading" style="margin: 10px 0;">
            Aspiring Data Scientist & Full-Stack Developer
            </h5>
            <p class="hero-sub-text">I'm a Data Scientist and Full-Stack Developer, passionate about leveraging data to
                build intelligent,
                end-to-end applications. From machine learning models to responsive user interfaces, I create impactful
                digital solutions.</p>
            <button class="btn btn-outline-secondary">Get In Touch</button>
            <p>or</p>
            <section class="hero-social-section">
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-github"></i>
                <i class="fab fa-twitter"></i>
            </section>
    </section>
</header>