<main class="section bg-dark">
    <h3 class="section-heading">Projects</h3>
    <p style="max-width: 800px; margin: 20px 0;font-size: 18px; font-weight: 300;">Hi, I'm
        Gaurav, a
        passionate and dedicated
        professional with
        a keen interest in technology and innovation. My journey in the tech world has been driven by a desire to
        solve complex problems and build meaningful applications..</p>
    <h5 class="sub-heading-text">Recent works</h5>
    <section class="nav-buttons">
        <i class="fas fa-angle-left"></i>
        <i class="fas fa-angle-right"></i>
    </section>
    <section>

        <article class="feature-card">
            <h3 class="feature-card-title">Haloai - chat Bot <i class="fas fa-arrow-up-right-from-square"
                    style="margin-left: 10px;"></i></h3>
            <p class="feature-card-chip">project</p>
            <p class="feature-card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
                accusantium illo itaque at corrupti
                nihil necessitatibus nisi corporis atque eius?</p>
            <button class="btn feature-card-btn">Github</button>
        </article>
    </section>
</main>